.g-branding {
    font-size: $core-font-size ;
    text-align: left;
    color: #838b8c;
    @include breakpoint(mobile-only){
      text-align: center;
    }
    a{
      color: #fff;
      &:hover{
        color: $accent-color-2;
      }
    }
    .dir-rtl & {
        text-align: left;
    }
}
