textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
background-color: white;
}
select{
	height: inherit;
}

.star, .red{
	color: red;
}	

.right{
	text-align: right;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate {
	line-height: inherit;
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
  	animation: rotation 2s infinite linear;
}

.g-logo img{
	height: 55px;
}

.table th, 
.table td {
	vertical-align: inherit;
	text-align: center;
}

.table caption h4{
	font-weight: bold;
}

.table.table-condensed th, 
.table.table-condensed td {
}
 
.table.table-condensed td ul{
	margin: 0;
}

.table-nowrap tr, .table-nowrap td{
    white-space: nowrap;
}

.table tr td ul.insc-pago{
    cursor: pointer;
    color: #2a64bb;
}

.table tr td ul.insc-pago:hover{
    color: #132d54;
    border-bottom: 1px solid #132d54;
}

.button{
	line-height: 1;
	padding: 0.625rem 1rem;
	margin: 0.1rem;
}

.bold{
	font-weight: bold;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn-out{
	position: absolute;
    right: 0.625rem;
}

.link{
	color: #2a64bb;
}
.link:hover{
	color: #132d54;
}

@media print
{    
	.show-print{
		display: block !important;
	}
    .no-print, .no-print *, .sticky-wrapper, .sticky-wrapper *, .back-to-top
    {
        display: none !important;
    }
    a[href]:after {
    	content: none !important;
  	}

  	#div_table_inscricao{
  		overflow-x: unset;
  	}

  	.table-nowrap tr,
  	.table-nowrap td{
  		white-space: unset;
  		font-size: 10px !important;
  		padding: 0;
  	}
}