.g-offline {
    h1 {
        font-weight: $font-weight-light;
    }

    .g-loginform {
        #g-loginform {
            width: 50%;
            margin: 0 auto;
            @include breakpoint(mobile-only) {
              width: 80%;
            }

            fieldset {
                text-align: left;
            }
            label {
                margin-bottom: $content-margin;
                display: block;
            }
        }
    }

    #frame {
        #form-login {
            width: 50%;
            margin: 0 auto;
            @include breakpoint(mobile-only) {
              width: 80%;
            }

            fieldset {
                text-align: left;
            }
            label {
                display: block;
                margin-bottom: $content-margin;
            }
        }
    }
    #g-abovefooter {
        text-align: left;
        .address-info {
          span {
              display: block;
          }
        }
    }
}
